<div class="container-fluid">

    <h3>Lista de vehiculos</h3>

    <div class="col-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Placa</th>
                    <th>Marca</th>
                    <th>Color</th>
                    <th>Modelo</th>
                    <th>Acciones</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let v of vehiculos">
                    <td>{{v.placa}}</td>
                    <td>{{v.marca}}</td>
                    <td>{{v.color_vehiculo_nombre}}</td>
                    <td>{{v.modelo}}</td>
                    <td><button type="button" class="btn btn-primary" 
                    (click)="onEditarNavigate(v.id)"title="Editar">"Editar"</button>&nbsp;</td>
                </tr>



            </tbody>

        </table>
    </div>

</div>
