<div class="container-fluid">
    <div class="col-lg-6 offset-3">
      <header>
        <h3>Nuevo Vehiculo</h3>
      </header>
      <section class="container">
        <form [formGroup]="vehiculoForm" (ngSubmit)="!vehiculoForm.invalid && crearVehiculo(vehiculoForm.value)">
          <div class="row">
            <div class="col col-12">
  
              <div class="form-group mx-sm-3 mb-2">
                <label for="placa">placa</label>
                <input id="placa" class="form-control" formControlName="placa" maxlength="20" autocomplete="off"
                  placeholder="Ingrese la placa" />
                <div class="alert alert-danger alert-dismissible fade show" *ngIf="
                vehiculoForm.get('placa')!.hasError('required') &&
                vehiculoForm.get('placa')!.touched">
                  Campo requerido
                </div>
                <div class="alert alert-danger alert-dismissible fade show"
                  *ngIf="vehiculoForm.get('placa')!.hasError('minlength')">
                  El contenido es muy corto.
                </div>
              </div>
              <div class="form-group mx-sm-3 mb-2">
                <label for="marca">marca</label>
                <input id="marca"  class="form-control" placeholder="marca" maxlength="30"
                   formControlName="marca" />
                <div class="alert alert-danger alert-dismissible fade show" *ngIf="
                vehiculoForm.get('marca')!.hasError('required') &&
                vehiculoForm.get('marca')!.touched">
                  Campo requerido
                </div>
                <div class="alert alert-danger alert-dismissible fade show"
                  *ngIf="vehiculoForm.get('marca')!.hasError('minlength')">
                  El contenido es muy corto.
                </div>
              </div>
  
  
              <div class="form-group mx-sm-3 mb-2">
                <label for="color">color</label>
                <!-- <input id="color" class="form-control" formControlName="color" maxlength="200" placeholder="color" /> -->
                <select formControlName="color" class="form-control">
                  <option [ngValue]="1" >rojo</option>
                  <option [ngValue]="2" >azul</option>
                  <option [ngValue]="3" >verde</option>
                </select>
                <div class="alert alert-danger alert-dismissible fade show" *ngIf="
                vehiculoForm.get('color')!.hasError('required') &&
                vehiculoForm.get('color')!.touched">
                  Campo requerido
                </div>
                <div class="alert alert-danger alert-dismissible fade show"
                  *ngIf="vehiculoForm.get('color')!.hasError('minlength')">
                  El contenido es muy corto, debe tener al menos dos caracteres.
                </div>
              </div>
  
  
              <div class="form-group mx-sm-3 mb-2">
                <label for="modelo">modelo</label>
                <input id="modelo" class="form-control" formControlName="modelo" maxlength="100" placeholder="modelo" />
                <div class="alert alert-danger alert-dismissible fade show" *ngIf="
                vehiculoForm.get('modelo')!.hasError('required') &&
                vehiculoForm.get('modelo')!.touched">
                  Campo requerido
                </div>
  
              </div>
  
  
  
            </div>
          </div>
          <br />
          <button type="submit" class="btn btn-primary" [disabled]="!vehiculoForm.valid">Crear</button>&nbsp;
         </form>
      </section>
    </div>
  </div>