<!DOCTYPE html>
<html>
<head>
    <title>App Vehículos</title>
    <!-- Agregar enlaces a Bootstrap CSS y JavaScript si es necesario -->
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">App Vehículos</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="">Home</a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Vehículos
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" routerLink="vehiculos">Ver listado de vehículos</a>
                    <a class="dropdown-item" routerLink="newvehiculo">Nuevo Vehículo</a>
                </div>
            </li>
        </ul>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>

<!-- Agregar enlaces a jQuery y Bootstrap JS si es necesario -->

</body>
</html>
